
@{
    ViewData["Title"] = "AdminUI";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Admin UI</h1>

<p>This is a page that requires Administrator privileges ("Admin" role) to access.</p>

<div>
	<ul>
		<li>add new Board, edit Board details, delete EMPTY Board.</li>
		<li>add new Forum into Boards, edit Forum details, lock down Forum, delete EMPTY Forum.</li>
		<li>delete 1/ more/ ALL Threads in a Forum.</li>
		<li>un-/set Thread as important (pinned/ sticky).</li>
		<li>change other user Role.</li>
		<li>do everything else regular users and Mods can do too.</li>
	</ul>
</div>
