
@{
    ViewData["Title"] = "ModUI";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ModUI</h1>

<p>This is a page that requires Moderator privileges ("Mod" role) to access.</p>

<div>
	<ul>
		<li>delete Threads one at a time in a Forum.</li>
		<li>un-/set Thread as important (pinned/ sticky), un-/lock Threads (dis-/allow new posts).</li>
		<li>delete/ hide/ mark Post content if against regulations.</li>
		<li>do everything else regular users can do too (make threads, posts, edit & delete own posts).</li>
	</ul>
</div>
