@*For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860*@

@model WebForum.Models.Thread.NewThreadModel

<h1>New Thread | @Model.ForumName</h1>

<form asp-action="AddThread" method="post" id="addThreadForm">
	<div class="form-group">
		<label asp-for="Title"></label>
		<input asp-for="Title" class="form-control" />
	</div>
	<div class="form-group">
		<label asp-for="Content"></label>
		<textarea asp-for="Content" class="form-control"></textarea>
	</div>
	<button type="submit" id="submitThreadBtn" class="btn btn-submitThread">Create Thread</button>
	<input asp-for="ForumId" type="hidden" />
</form>